.icon-name{
    display: -webkit-box;
    font-family: 'Charm', cursive;
    font-family: 'Climate Crisis', cursive;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-family: 'Noto Serif Lao', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Sail', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Strait', sans-serif;
    text-shadow: 0 3px white , 0 0 5px  red;
}
*{
    background-color: rgb(196, 235, 235);
    text-align: center;
}
.class{
text-align: left;
}
.negativ{
    text-align:left;
    
}
.container{
width: 1140px;
margin: 0 auto;
}

