ol li  a:link, a:visited{
    background-color: red;
    color: rgb(236, 206, 206);
    text-decoration: none;
    display: block;
    font-size:100px ;
    margin: 100px;
    padding: 1px;
    border-radius: 50px;

}
ol li a:hover, a:active{
    background-color: red;
    color: green;
    padding: 35px 23px;  
    
}
*{
    background-color: green;
}