*{
    background-color: rgb(14, 14, 224);
    text-align: center;
    
}
a:link,a:visited{

    background-color: red;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size:50px ;
    margin: 50px;
    border: 10px solid white;
    padding: 50px;


}
a:hover,a:active{
    background-color: red;
    color: green;
    padding: 35px 23px;
}
span{
    background-color: rgb(13, 7, 179);
    border: 5px solid ;
    border-radius: 10px;
margin: 50px;
display: inline-block;
}
